.product-card {
    border: 1px solid #c4c3c4;
    width: 240px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 #b3bbc673;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container{
        height: 240px;
        width: 240px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .product-title {
        font-size: 20x;
        font-weight: 600;
        height: 4em;
    }

    .product-price {
        font-size: 28px;
        width: 100%;
    }

    button {
        width: fit-content;
        padding: 10px;
        background-color: #04AA6D;
        outline: none;
        border: none;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        transition-duration: 0.4s;
    };

    button:hover {
        background-color: #4b7e49;
    }

}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-cards-container {
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
}