.search-input {
    display: flex;
    align-items: center;
    .icon {
        position: absolute;
        margin-left: 4px;
    }
    input {
        padding: 0 10px 0px 30px;
        border: none;
        width: 25em;
        box-shadow: 0 10px 20px 0 #b3bbc673;
        border-radius: 5px;
        min-height: 3em;
    }
    
    input:focus {
        outline: none;
    }
}